from typing import Any

import vedro
from config import Config
from interfaces.api import Api

from vedro_replay import Response


@vedro.context
async def golden_response(url: str, prepare_response_method: Any) -> Response:
    api = Api(Config.GOLDEN_API_URL)
    response = await api.do_request(url=url)
    return prepare_response_method(response)


@vedro.context
async def testing_response(url: str, prepare_response_method) -> Response:
    api = Api(Config.TESTING_API_URL)
    response = await api.do_request(url=url)
    return prepare_response_method(response)

