from typing import Any

import vedro
from config import Config
from interfaces.api import Api

from vedro_replay import Request, Response


@vedro.context
async def golden_response(request: Request, prepare_response_method: Any) -> Response:
    response = await Api().do_request(request=request.specify_host(host=Config.GOLDEN_API_URL))
    return prepare_response_method(response)


@vedro.context
async def testing_response(request: Request, prepare_response_method) -> Response:
    response = await Api().do_request(request=request.specify_host(host=Config.TESTING_API_URL))
    return prepare_response_method(response)

