from vedro_httpx import AsyncHTTPInterface, Response

from vedro_replay import Request


class Api(AsyncHTTPInterface):
    async def do_request(self, request: Request) -> Response:
        return await self._request(
            method=request.method,
            url=request.request_uri,
            headers=request.headers,
            json=request.json_body
        )

